.user_name {
    -fx-text-fill: white;
}

.threadWindow {
    -fx-background-color: #1d1d1d;
    -fx-stroke: green;
}

.threadPane {
    -fx-background: #434343;
    -fx-border-color: green;
    -fx-border-width: 1px;
}

.detailsButton {
    -fx-base: #404040;
    -fx-text-fill: white;
}

.sendButton {
    -fx-base: #404040;
    -fx-text-fill: white;
}

.user_msg {
    -fx-background-color: darkblue;
    -fx-border-color: deepskyblue;
    -fx-border-width: 1px;
    -fx-fill: white;
}

.user_msg_body {
    -fx-fill: white;
}

.user_msg_det {
    -fx-fill: gray;
}

.your_msg_delivered {
    -fx-background-color: #009400;
    -fx-border-color: lawngreen;
    -fx-border-width: 1px;
    -fx-fill: white;
}

.your_msg_sent {
    -fx-background-color: #009400;
    -fx-border-color: #fc0008;
    -fx-border-width: 1px;
    -fx-fill: white;
}


.your_msg_body {
    -fx-fill: white;
}

.your_msg_det {
    -fx-fill: gray;
}

.text_input .content {
    -fx-background-color: #303030;
}

.text_input {
    -fx-text-fill: white;
}